.book-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 40px;
}

.book-info button {
    height: 25px;
    margin-bottom: 18px;
    width: 110px;
    background: #25262b;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.book-image {
    width: 25%;
    max-width: 500px;
    display: flex;
    animation: 0.25s ease-in 0s 1 slidedown;
}

@keyframes slidedown {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.book-image img {
    width: 100%;
    border-radius: 5px;
}

.book-info {
    display: block;
    width: 75%;
    padding-left: 20px;
    max-width: 500px;
}

.book-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 500px;
    padding: 0 20px;
}

.book-form button {
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
}

.book-form input, .book-form textarea {
    margin: 0 auto;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    width: 300px;
    max-width: 95%;
}

.book-form label {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 2px;
}

.desc {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    font-size: 14px;
}

.modal {
    background: #25262b;
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 10;
    width: 75%;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    color: #32AEDA;
    transform: translate(-50%, -20%);
}

.delete {
    background: #D67E7E;
    color: #25262b;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.edit-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 300px;
    margin: 20px auto;
}

.edit-form button {
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}

.edit-form label {
    font-size: 14px;
    margin-top: 5px;
}

.edit-form input {
    border: none;
    border-radius: 5px;
    padding: 5px 2px 5px 10px;
}

.modal-content span {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: right;
    display: block;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .book-container {
        flex-direction: column;
    }
    .book-image {
        height: 300px;
        margin-bottom: 20px;
    }
    .book-image img {
        height: 300px;  
        width: auto;
    }
    .book-info {
        width: 100%;
        padding-left: 0;
    }
}